<template>
  <div>
    <article class="card">
      <header class="card-header">
        <strong class="d-inline-block mr-3">Your Active Coupons: {{openTransaction.length}}</strong>
      </header>
      <!-- card-body .// -->
      <div class="table-responsive">
        <table class="table table-hover">
          <tr
            v-for="transaction in paginatedData"
            v-bind:transaction="transaction"
            v-bind:key="transaction.id"
          >
            <td width="65">
              <img :src="transaction.coupon.product.photo" class="img-xs border" />
            </td>
            <td>
              <p class="title mb-0">{{transaction.coupon.name}}</p>
               {{transaction.coupon.coupon_product_price}}$
              <s>
                <var class="price text-muted"> {{transaction.coupon.product.price}}$</var>
              </s>
            </td>

            <td width="200">
              Amount: {{transaction.number_of_items}}
              <br />
              Total Price:  {{transaction.cost_with_discount}}$
            </td>

            <td width="200">
              Current Status
              <br />
              {{transaction.coupon.reserved_items}} / {{transaction.coupon.amount_of_items}} orders
            </td>

            <td width="150">
              Time remain
              <br />
              <span
                v-bind:class="getTimeClass(transaction.coupon.available_till)"
                class="badge"
              >{{timeLeft(transaction.coupon.available_till)}}</span>
            </td>

            <td width="">
              <a :href="`/coupon/${transaction.coupon.id}`" class="btn btn-primary">Details</a>
            </td>
          </tr>
        </table>
        
      </div>
      <div class="mx-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </div>
      <!-- table-responsive .end// -->
    </article>
    <!-- order-group.// -->
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { COUPON_STATUS } from "@/helpers";
export default {
  name: "ActiveCoupons",
  data() {
    return {
      COUPON_STATUS: COUPON_STATUS,
      openTransaction: [],
      perPage: 4,
      currentPage: 1,
    };
  },
  methods: {
    getTimeClass(endTime) {
      var days,
        hours,
        minutes,
        seconds,
        total_hours,
        total_minutes,
        total_seconds;
      var now = new Date();
      var end = new Date(endTime);
      var delta = Math.abs(end - now);
      total_seconds = parseInt(Math.floor(delta / 1000));
      total_minutes = parseInt(Math.floor(total_seconds / 60));
      total_hours = parseInt(Math.floor(total_minutes / 60));
      days = parseInt(Math.floor(total_hours / 24));
      seconds = parseInt(total_seconds % 60);
      minutes = parseInt(total_minutes % 60);
      hours = parseInt(total_hours % 24);
      if (days > 1) {
        return "badge-success";
      }
      if (days === 0) {
        if (hours < 12) {
          return "badge-danger";
        }
        return "badge-warning";
      }
      return "badge-success";
    },
    timeLeft(endTime) {
      var days,
        hours,
        minutes,
        seconds,
        total_hours,
        total_minutes,
        total_seconds;
      var now = new Date();
      var end = new Date(endTime);
      var delta = Math.abs(end - now);
      total_seconds = parseInt(Math.floor(delta / 1000));
      total_minutes = parseInt(Math.floor(total_seconds / 60));
      total_hours = parseInt(Math.floor(total_minutes / 60));
      days = parseInt(Math.floor(total_hours / 24));
      seconds = parseInt(total_seconds % 60);
      minutes = parseInt(total_minutes % 60);
      hours = parseInt(total_hours % 24);
      if (days > 1) {
        return days + " days " + hours + " hours left";
      }
      if (days === 0) {
        return hours + " hours left";
      }
      return days + " day " + hours + " hours left";
    }
  },
  watch: {
    AllUserDataInfo: function() {
      // console.log(this)
      this.openTransaction = this.AllUserDataInfo.transactions.filter(item => {
        return item.coupon.status === COUPON_STATUS.OPEN;
      });
    }
  },
  computed: {
    ...mapGetters(["AllUserDataInfo"]),
    paginatedData() {
      const start = (this.currentPage - 1) * this.perPage,
        end = start + this.perPage;
      console.log("START", start);
      console.log("END", end);
      return this.openTransaction.slice(start, end);
    },
    rows() {
      return this.openTransaction.length;
    }
  },
  created() {
    if (this.AllUserDataInfo.transactions) {
      this.openTransaction = this.AllUserDataInfo.transactions.filter(item => {
        return item.coupon.status === COUPON_STATUS.OPEN;
      });
    }
  }
};
</script>

<style>
</style>