<template>
  <div>
    <article class="card">
      <header class="card-header">
        <strong class="d-inline-block mr-3">Your History</strong>
      </header>
      <!-- card-body .// -->
      <div class="table-responsive">
        <table class="table table-hover">
          <tr
            v-for="transaction in paginatedData"
            v-bind:transaction="transaction"
            v-bind:key="transaction.id"
            :class="[checkStatus(transaction) ? 'bg-success': 'bg-warning']"
          >
            <td width="65">
              <img :src="transaction.coupon.product.photo" class="img-xs border" />
            </td>
            <td>
              <p class="title mb-0">{{transaction.coupon.name}}</p>
              {{transaction.coupon.coupon_product_price}}$
              <s>
                <var class="price text-muted">{{transaction.coupon.product.price}}$</var>
              </s>
            </td>

            <td width="200">
              Your Amount: {{transaction.number_of_items}}
              <br />
              Total Price: {{transaction.cost_with_discount}}$
            </td>

            <td width="200">
              <br />
              {{transaction.coupon.reserved_items}} / {{transaction.coupon.amount_of_items}} orders
            </td>

            <td width>
              <a :href="`/coupon/${transaction.coupon.id}`" class="btn btn-primary">Details</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="mx-auto">
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
        ></b-pagination>
      </div>
      <!-- table-responsive .end// -->
    </article>
    <!-- order-group.// -->
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { COUPON_STATUS } from "@/helpers";
export default {
  name: "ProfileHistory",
  data() {
    return {
      COUPON_STATUS: COUPON_STATUS,
      openTransaction: [],
      perPage: 4,
      currentPage: 1
    };
  },
  methods: {
    checkStatus(transaction) {
      if (transaction.coupon.status === COUPON_STATUS.CLOSED_SUCCESS) {
        return true;
      }
      return false;
    }
  },
  watch: {
    AllUserDataInfo: function() {
      // console.log(this)
      this.openTransaction = this.AllUserDataInfo.transactions.filter(item => {
        return (
          item.coupon.status === COUPON_STATUS.CLOSED_SUCCESS ||
          item.coupon.status === COUPON_STATUS.CLOSED_NOT_SUCCESS
        );
      });
    }
  },
  computed: {
    ...mapGetters(["AllUserDataInfo"]),
    paginatedData() {
      const start = (this.currentPage - 1) * this.perPage,
        end = start + this.perPage;
      console.log("START", start);
      console.log("END", end);
      return this.openTransaction.slice(start, end);
    },
    rows() {
      return this.openTransaction.length;
    }
  },
  created() {
    if (this.AllUserDataInfo.transactions) {
      this.openTransaction = this.AllUserDataInfo.transactions.filter(item => {
        return (
          item.coupon.status === COUPON_STATUS.CLOSED_SUCCESS ||
          item.coupon.status === COUPON_STATUS.CLOSED_NOT_SUCCESS
        );
      });
    }
  }
};
</script>

<style>

</style>