<template>
  <div>
    <!-- =========================  COMPONENT MYORDER 2 ========================= -->
    <div class="row">
      <article class="card order-group">
        <header class="card-header">
          <b class="d-inline-block mr-3">Transaction ID: 6123456789</b>
          <span>Date: 16 December 2018</span>
        </header>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <h6 class="text-muted">Payment</h6>
              <span class="text-success">
                <i class="fab fa-lg fa-cc-visa"></i>
                Visa **** 4216
              </span>

              <p>
                Subtotal: $356
                <br />Shipping fee: $56
                <br />
                <span class="b">Total: $456</span>
              </p>
            </div>
            <div class="col-md-4">
              <h6 class="text-muted">Contact</h6>
              <p>
                Michael Jackson
                <br />+1234567890
                <br />somename@gmail.com
              </p>
            </div>
            <div class="col-md-4">
              <h6 class="text-muted">Shipping address</h6>
              <p>Home 123, Building name, Street abcd, Tashkent Uzbekistan</p>
            </div>
          </div>
          <!-- row.// -->
          
          
        </div>
        <!-- card-body .// -->
      </article>
    </div>
    <!-- col .// -->
  </div>
  <!-- row.// -->
  <!-- =========================  COMPONENT MYORDER 2 END.// ========================= -->
</template>

<script>
export default {
  name: "ProfilePayment"
};
</script>

<style>
</style>