<template>
  <!-- ============================ COMPONENT PROFILE 2  ================================= -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-4">Profile</h4>
      <form @submit.prevent="handleProfileUpdate">
        <!-- {{AllUserDataInfo}} -->
        <div class="form-group">  
          <img :src="user_image" class="img-sm rounded-circle border" />
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label>Name</label>
            <input
              v-model="first_name"
              type="text"
              class="form-control"
              name="username"
              :placeholder="name_placeholder"
            />
          </div>
          <!-- form-group end.// -->
          <div class="col form-group">
            <label>Last Name</label>
            <input
              type="text"
              class="form-control"
              v-model="last_name"
              :placeholder="last_placeholder"
            />
          </div>
          <!-- form-group end.// -->
        </div>

        <div class="form-row">
          <div class="col form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              v-model="email"
              :placeholder="email_placeholder"
            />
          </div>
          <!-- form-group end.// -->
        </div>
        <!-- form-row.// -->

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Country</label>
            <vue-bootstrap-typeahead
              :placeholder="city_placeholder"
              :data="countries"
              v-model="addressSearch"
              @hit="selectedAddress = $event"
            />
          </div>
          <!-- form-group end.// -->
          <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" v-model="city" :placeholder="city_placeholder" />
          </div>
          <!-- form-group end.// -->
        </div>
        <!-- form-row.// -->

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Zip</label>
            <input type="text" class="form-control" v-model="zip" :placeholder="zip_placeholder" />
          </div>
          <!-- form-group end.// -->
          <div class="form-group col-md-6">
            <label>Phone</label>
            <input
              type="text"
              class="form-control"
              v-model="phone"
              :placeholder="phone_placeholder"
            />
          </div>
          <!-- form-group end.// -->
        </div>
        <!-- form-row.// -->

        <button class="btn btn-primary btn-block">Update</button>
      </form>
      <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">
        <div v-if="successful">
          <p>Account Updated</p>
        </div>
        <div v-else>Try again.</div>
      </div>
    </div>

    <!-- card-body.// -->
  </div>
  <!-- card .// -->
  <!-- ============================ COMPONENT PROFILE END.// ================================= -->
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import json from "../../assets/countries.json";
export default {
  name: "ProfileInfo",

  data() {
    return {
      submitted: false,
      successful: false,
      message: "",

      first_name: "",
      last_name: "",
      email: "",
      addressSearch: "",
      selectedAddress: "",
      countries: json,
      country: "",
      city: "",
      zip: "",
      phone: "",
      name_placeholder: "",
      last_placeholder: "",
      email_placeholder: "",
      country_placeholder: "",
      city_placeholder: "",
      zip_placeholder: "",
      phone_placeholder: "",
      user_image: ""
    };
  },
  watch: {
    AllUserDataInfo: function(val) {
      this.name_placeholder = this.first_name = this.AllUserDataInfo.user.first_name;
      this.last_placeholder = this.last_name = this.AllUserDataInfo.user.last_name;
      this.email_placeholder = this.email = this.AllUserDataInfo.user.email;
      this.country_placeholder = this.country = this.AllUserDataInfo.country;
      this.city_placeholder = this.city = this.AllUserDataInfo.city;
      this.zip_placeholder = this.zip = this.AllUserDataInfo.zip;
      this.phone_placeholder = this.phone = this.AllUserDataInfo.phone;
      this.user_image = this.AllUserDataInfo.image_url;
    }
  },
  methods: {
    ...mapActions(["fetchUserData", "UpdateProfile"]),

    handleProfileUpdate() {
      var data_from_form = {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        country: this.country,
        city: this.city,
        zip: this.zip,
        phone: this.phone
      };
      this.message = "";
      this.UpdateProfile(data_from_form).then(
        data => {
          console.log("UPDATED")
          this.message = data;
          this.successful = true;
          console.log(this.message, this.successful)
        },
        error => {
          this.message =
            (error.response && error.response.data) ||
            error.message ||
            error.toString();
          this.successful = false;
        }
      );
    }
  },
  created() {
    this.fetchUserData();
    this.countries = this.countries.map(item => {
      return item.name;
    });
  },
  computed: {
    ...mapGetters(["AllUserDataInfo"])
  }
};
</script>

<style>
</style>