<template>
  <div class="navbarmain">
    <header class="section-header">
      <section class="header-main border-bottom">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-2 col-4">
              <router-link to="/" class="brand-wrap">
                <img class="logo" src="@/assets/images/logov2.png" />
              </router-link>
              <!-- brand-wrap.// -->
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="input-group w-100">
                <input type="text" v-model="search" class="form-control" placeholder="Search" />
                <div class="input-group-append">
                  <button v-on:click="searchApply" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>

              <!-- search-wrap .end// -->
            </div>
            <!-- col.// -->

            <div class="col-lg-4 col-sm-6 col-12">
              <div class="widgets-wrap float-md-right">
                <div class="widget-header icontext">
                  <a
                    :href="[loggedIn ? '/profile/info' : '/login']"
                    class="icon icon-sm rounded-circle border"
                  >
                    <i class="fa fa-user"></i>
                  </a>
                  <div v-if="loggedIn" class="text">
                    <span class="text-muted">Welcome {{currentProfile.username}}</span>
                    <div>
                      <a href @click.prevent="logOut">Log Out</a>
                    </div>
                  </div>
                  <div v-else class="text">
                    <span class="text-muted">Welcome!</span>
                    <div>
                      <a href="/login">Sign in</a> |
                      <a href="/register">Register</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- widgets-wrap.// -->
            </div>
            <!-- col.// -->
          </div>
          <!-- row.// -->
        </div>
        <!-- container.// -->
      </section>
      <!-- header-main .// -->
    </header>
    <!-- section-header.// -->

    <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#main_nav"
          aria-controls="main_nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main_nav">
          <b-navbar-nav class="navbar-nav">
            <b-nav-item
              :class=" 'nav-item dropdown' [currentPath === '/' ? activeClass: '']"
              to="/"
            >Home</b-nav-item>
            <b-nav-item
              :class=" 'nav-item' [currentPath === '/coupons/all' ? activeClass: '']"
              to="/coupons/all"
            >Coupons</b-nav-item>

            <b-nav-item
              :class=" 'nav-item' [currentPath === '/about' ? activeClass: '']"
              to="/about"
            >About</b-nav-item>
          </b-navbar-nav>
        </div>
        <!-- collapse .// -->
      </div>
      <!-- container .// -->
    </nav>
  </div>
</template>


<script>
export default {
  name: "NewHeader",
  data() {
    return {
      search: "",
      activeClass: "active"
    };
  },

  computed: {
    currentPath() {
      return this.$route.path;
    },

    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
    currentProfile() {
      return this.$store.state.auth.user;
    }
  },
  methods: {
    fixCategoryUrl(name) {
      return name.replace(" ", "_");
    },

    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },

    searchApply() {
      var search = this.fixCategoryUrl(this.search);
      if (search !== "") {
        if (search !== this.$route.query.text) {
          this.search = ''
          this.$router.push({
            name: "Coupons",
            params: { category: "search" },
            query: { text: search }
          });
        }
      }
    }
  }
};
</script>


<style scoped>
.active {
  opacity: 1;
  visibility: visible;
  border-left-color: #4db6ac;
  transition: all 0.25s;
}
/* 
.navbarmain {
  margin-bottom: 20px;
} */
</style>