<template>
  <div class='navbarmain'>
    <b-navbar class="navbar-dark bg-dark" toggleable="lg" type="dark" variant="info">
      <router-link to="/" class="navbar-brand">SplitWick</router-link>
      <!-- <b-navbar-brand href="#">SplitWick</b-navbar-brand> -->

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item :class="[currentPath === '/about' ? activeClass: '']" to="/about">About</b-nav-item>
          <b-nav-item :class="[currentPath === '/products' ? activeClass: '']" to="/products">Products</b-nav-item>
          <b-nav-item :class="[currentPath === '/link2' ? activeClass: '']" to="/link2">Link2</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
          </b-nav-form>

          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>


<script>
export default {
  name: "Header",
  data() {
    return {
      activeClass: "active"
    };
  },
  computed: {
    currentPath() {
      return this.$route.path;
    }
  }
};
</script>


<style scoped>
.active {
  opacity: 1;
  visibility: visible;
  border-left-color: #4db6ac;
  transition: all 0.25s;
}

.navbarmain {
  margin-bottom: 20px;
}

</style>