<template>
  <div class="container">
    <CouponDetail v-if="coupon" v-bind:coupon="coupon" />
    <CouponReviews v-if="coupon" v-bind:coupon="coupon" />
  </div>
</template>


<script>
import axios from "axios";
import CouponDetail from "../components/coupon_detail/CouponDetail";
import CouponReviews from "../components/coupon_detail/CouponReviews";
export default {
  name: "Detail",
  components: {
    CouponDetail,
    CouponReviews
  },

  data() {
    return {
      coupon: null
    };
  },

  created() {
    this.coupon = this.fetchPost(this.$route.params.couponID);
  },

  methods: {
    fetchPost(id) {
      axios
        .get(process.env.VUE_APP_BASE_URL+"/coupons/" + id)
        .then(response => (this.coupon = response.data))
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    }
  }
};
</script>