<template>
  <section class="section-content padding-y">
    <div class="container">
      <div v-if="$route.params.category!=='search'" class="row">
        <LeftFilters @priceFilters="priceApply" v-if="categories" v-bind:categories="categories" />
        <main class="col-md-9">
          <FilteredCoupons v-if="coupons" v-bind:coupons="coupons" />
        </main>
      </div>
      <div v-else class="row">
        <main class="col-md-12">
          <FilteredCoupons v-if="coupons" v-bind:coupons="coupons" v-bind:search="searchQueryText"/>
        </main>
      </div>
    </div>
    <!-- container .//  -->
  </section>
</template>

<script>
import axios from "axios";
import FilteredCoupons from "../components/coupons/FilteredCoupons";
import LeftFilters from "../components/coupons/LeftFilters";

const OPEN_COUPONS_URL = process.env.VUE_APP_BASE_URL+"/opencoupons";

export default {
  name: "CouponsView",
  components: {
    FilteredCoupons,
    LeftFilters
  },
  data() {
    return {
      coupons: null,
      categories: null,
      loading: true,
      errored: false,
      category: null,
      searchQueryText: '',
      price: {
        min: "",
        max: ""
      }
    };
  },
  methods: {
    fixQueryName(name) {
      return name.replace("_", "+");
    },

    priceApply(filters) {
      this.price = filters;
      this.$router.push({
        query: filters
      });
    },
    getUrl() {
      // console.log("lol");
      if (this.$router.currentRoute.params.category === "search") {
        var searchQuery = this.fixQueryName(this.$route.query.text);
        this.searchQueryText = searchQuery
        console.log("here");
        console.log(searchQuery);
        return `${OPEN_COUPONS_URL}?search=${searchQuery}`;
      }

      if (this.$router.currentRoute.params.category === "all") {
        return `${OPEN_COUPONS_URL}?product__price__gte=${this.price.min}&product__price__lte=${this.price.max}`;
      } else {
        return `${OPEN_COUPONS_URL}?product__category__name__iexact=${this.$router.currentRoute.params.category}&product__price__gte=${this.price.min}&product__price__lte=${this.price.max}`;
      }
    }
  },
  watch: {
    $route(to, from) {
      var urlCoupon = this.getUrl();
      axios
        .get(urlCoupon)
        .then(response => {
          this.coupons = response.data;
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    }
  },

  created() {
    // console.log(this.$route);
    this.price.min = this.$route.query.min ? this.$route.query.min : "";
    this.price.max = this.$route.query.max ? this.$route.query.max : "";

    var urlCoupon = this.getUrl();

    axios
      .get(urlCoupon)
      .then(response => {
        this.coupons = response.data;
      })
      .catch(error => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => (this.loading = false));

    (this.loading = true),
      (this.errored = false),
      axios
        .get(process.env.VUE_APP_BASE_URL+"/categories")
        .then(response => {
          this.categories = response.data;
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
  }
};
</script>

<style>
</style>