<template>
  <div class="container">
    <!-- {{this.product}} -->
    <DetailProduct v-bind:product="product"/>
  </div>
</template>


<script>
import axios from "axios";
import DetailProduct from "../components/DetailProduct";
export default {
  name: "Detail",
  components: {
    DetailProduct
  },

  data() {
    return {
      product: null
    };
  },

  created () {
    this.product = this.fetchPost(this.$route.params.productID)
  },

  methods: {
    fetchPost(id) {
      axios
        .get(process.env.VUE_APP_BASE_URL+"/products/" + id)
        .then(response => (this.product = response.data))
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    }
  }
};
</script>