<template>
  <div v-if="coupons">
    <SectionTop v-if="categories" v-bind:categories="categories" v-bind:coupons="coupons" />
    <SectionMain v-if="coupons" v-bind:coupons="coupons" />
    <DownloadSection />
  </div>
</template>

<script>
import axios from "axios";
import SectionTop from "../components/home/SectionTop";
import SectionMain from "../components/home/SectionMain";
import DownloadSection from "../components/home/DownloadSection";
export default {
  name: "Home",
  components: {
    SectionTop,
    SectionMain,
    DownloadSection
  },
  data() {
    return {
      categories: null,
      coupons: null,
      loading: true,
      errored: false
    };
  },
  
  created() {
    axios
      .get(process.env.VUE_APP_BASE_URL+"/popularcoupons")
      .then(response => {
        this.coupons = response.data;
      })
      .catch(error => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => (this.loading = false));

    (this.loading = true),
      (this.errored = false),
      axios
        .get(process.env.VUE_APP_BASE_URL+"/categories")
        .then(response => {
          this.categories = response.data;
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
  }
};
</script>

<style>
</style>
