<template>
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-conten padding-y" style="min-height:50vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
        <h4 class="card-title mb-4">Sign in</h4>
        <form name="form">
          <ValidationObserver v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(submit)">
              <div class="form-group">
                <ValidationProvider name="field" rules="required" v-slot="{ errors }">
                  <input
                    type="text"
                    v-model="user.username"
                    name="username"
                    class="form-control"
                    placeholder="Username"
                  />
                  <span>{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group">
                <ValidationProvider name="field" rules="required" v-slot="{ errors }">
                  <input
                    type="password"
                    v-model="user.password"
                    name="password"
                    class="form-control"
                    placeholder="Password"
                  />
                  <span>{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group">
                <a href="#" class="float-right">Forgot password?</a>
                <label class="float-left custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" checked />
                  <div class="custom-control-label">Remember</div>
                </label>
              </div>

              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
          </ValidationObserver>

          <!-- form-group form-check .// -->

          <div class="form-group">
            <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
          </div>
          <!-- form-group// -->
        </form>
      </div>
      <!-- card-body.// -->
    </div>
    <!-- card .// -->

    <p class="text-center mt-4">
      Don't have account?
      <a href="/register">Sign up</a>
    </p>
    <br />
    <br />
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
  </section>
</template>



<script>
import User from "../models/user";
export default {
  name: "Login",
  data() {
    return {
      user: new User("", ""),
      // loading: false,
      message: ""
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  created() {
    if (this.loggedIn) {
      this.$router.push("/profile");
    }
  },
  methods: {
    submit() {
      if (this.user.username && this.user.password) {
        this.$store.dispatch("auth/login", this.user).then(
          () => {
            this.$router.push("/profile/info");
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
          }
        );
      }
    }
  }
};
</script>

<style>
</style>