<template>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <Sidebar v-if="categories" v-bind:categories="categories" />
      <AllProducts v-if="products" v-bind:products="products" />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Sidebar from "../components/SideBar";
import AllProducts from "../components/AllProducts";
export default {
  name: "Products",
  components: {
    Sidebar,
    AllProducts
  },
  data() {
    return {
      products: null,
      categories: null,
      loading: true,
      errored: false
    };
  },
  created() {
    axios
      .get(process.env.VUE_APP_BASE_URL+"/products")
      .then(response => {
        this.products = response.data;
      })
      .catch(error => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => (this.loading = false));

    (this.loading = true),
      (this.errored = false),
      axios
        .get(process.env.VUE_APP_BASE_URL+"/categories")
        .then(response => {
          this.categories = response.data;
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
  }
};
</script>

<style scoped>
</style>
