<template>
  <section class="section-content padding-y bg " style="min-height: 600px;">
    <div class="container">
      <div class="row">
        <aside class="col-md-3">
          <ul class="list-group">
            <a
              v-for="tab in tabs"
              v-bind:key="tab"
              v-on:click="currentTab = tab"
              class="list-group-item"
              v-bind:class="getClass(tab)"
            >{{tab|getFullName}}</a>
          </ul>

          <br />
          <a class="btn btn-secondary btn-block" href="#">
            <i class="fa fa-power-off"></i>
            <span class="text">
              <a href class="logout" @click.prevent="logOut">Log Out</a>
            </span>
          </a>
        </aside>

        <main class="col-md-9">
          <component v-bind:is="currentTabComponent" class="tab"></component>
        </main>
      </div>
    </div>
  </section>
</template>

<script>
// import UserService from "../services/user.service";
// import { mapGetters } from 'vuex';
import ProfileHistory from "../components/profile/ProfileHistory";
import ProfileInfo from "../components/profile/ProfileInfo";
import ActiveCoupons from "../components/profile/ActiveCoupons";
import UserTransactions from "../components/profile/UserTransactions";
import ProfileDelivery from "../components/profile/ProfileDelivery";
import ProfilePayment from "../components/profile/ProfilePayment";

export default {
  name: "Profile",
  components: {
    info: ProfileInfo,
    active: ActiveCoupons,
    transactions: UserTransactions,
    delivery: ProfileDelivery,
    payment: ProfilePayment,
    history: ProfileHistory
  },
  data() {
    return {
      user: "",
      tabs: [
        "info",
        "active",
        "transactions",
        "delivery",
        "payment",
        "history"
      ],
      currentTab: "info"
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    currentProfile() {
      return this.$store.state.auth.profile;
    },
    currentTabComponent() {
      return this.currentTab.toLowerCase();
    }
  },

  filters: {
    getFullName(name) {
      var maper = {
        info: "User Info",
        active: "Active Joined Coupons",
        transactions: "Transactions",
        delivery: "Delivery",
        payment: "Payment",
        history: "History"
      };
      return maper[name];
    }
  },

  methods: {
    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
    getClass(tab) {
      return this.currentTab === tab ? "active" : "";
    }
  },

  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }
  }
};
</script>

<style scoped>
.logout {
  text-decoration: none;
  color: white;
}
</style>