<template>
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-content padding-y">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
        <header class="mb-4">
          <h4 class="card-title">Sign up</h4>
        </header>
        <form name="form">
          <ValidationObserver v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(submit)">
              <div class="form-group">
                <ValidationProvider name="field" rules="required" v-slot="{ errors }">
                  <label>Username</label>
                  <input v-model="user.username" type="text" class="form-control" name="username" />
                  <span>{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group">
                <ValidationProvider name="field" rules="required" v-slot="{ errors }">
                  <label>Email</label>
                  <input v-model="user.email" type="email" class="form-control" name="email" />
                  <span>{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group">
                <ValidationProvider name="field" rules="required" v-slot="{ errors }">
                  <label>Password</label>
                  <input
                    type="password"
                    v-model="user.password"
                    name="password"
                    class="form-control"
                  />
                  <span>{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group">
                <a href="#" class="float-right">Forgot password?</a>
                <label class="float-left custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" checked />
                  <div class="custom-control-label">Remember</div>
                </label>
              </div>

              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
          </ValidationObserver>

          <!-- form-group form-check .// -->

          <div class="form-group">
            <div v-if="!successful">
              <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
            </div>
          </div>
          <!-- form-group// -->
        </form>

        <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">
          <div v-if="successful">
            <p>Account Created</p>
            <a href="/login">Log In</a>
          </div>
          <div v-else>Try again.</div>
        </div>
      </article>
      <!-- card-body.// -->
    </div>
    <!-- card .// -->
    <p class="text-center mt-4">
      Have an account?
      <a href="/login">Log In</a>
    </p>
    <br />
    <br />
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
</template>

<script>
import User from "../models/user";
export default {
  name: "Register",
  data() {
    return {
      user: new User("", "", ""),
      submitted: false,
      successful: false,
      message: ""
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push("/profile");
    }
  },
  methods: {
    submit() {
      this.message = "";
      this.submitted = true;

      this.$store.dispatch("auth/register", this.user).then(
        data => {
          console.log(data);
          this.message = data;
          this.successful = true;
        },
        error => {
          this.message =
            (error.response && error.response.data) ||
            error.message ||
            error.toString();
          this.successful = false;
        }
      );
    }
  }
};
</script>