<template>
  <!-- ========================= SECTION TOP ========================= -->
  <section class="section-main bg padding-y">
    <div class="container">
      <div class="row">
        <aside class="col-md-3">
          <nav class="card">
            <ul class="menu-category">
              <li>
                <a class="all-link" href="/coupons/all">Categories</a>
              </li>
              <li
                v-for="category in categories"
                v-bind:key="category.id"
                v-bind:category="category"
              >
                <b-link :to="`/coupons/${fixCategoryUrl(category.name)}`">
                  <a href="#">{{category.name}}</a>
                </b-link>
              </li>
            </ul>
          </nav>
        </aside>
        <!-- col.// -->
        <div class="col-md-9">
          <!-- Hot deals / coupons - implement recomendation endpoint -->
          <CarouselAllCoupons v-bind:coupons="coupons" />
        </div>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- container //  -->
  </section>
  <!-- ========================= SECTION MAIN END// ========================= -->
</template>

<script>
import CarouselAllCoupons from "../CarouselAllCoupons";
export default {
  name: "SectionTop",
  props: ["categories", "coupons"],
  components: {
    CarouselAllCoupons
  },
  methods: {
    fixCategoryUrl(name) {
      return name.replace(" ", "+");
    }
  }
};
</script>

<style scoped>
.category-name {
  display: block;
  padding: 10px 18px;
  font-weight: bold;
}
.all-link {
  display: block;
  padding: 10px 18px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: Black;
}
a:hover {
  color: grey;
}
</style>
