<template>
  <!-- ========================= SECTION  ========================= -->
  <section class="section-name padding-y-sm">
    <div class="container">
      <header class="section-heading">
        <b-link :to="`/coupons/all`">
          <a href="#" class="btn btn-outline-primary float-right">See all</a>
        </b-link>

        <h3 class="section-title">Popular Deals</h3>
      </header>
      <!-- sect-heading -->

      <div class="row">
        <div
          class="col-md-3"
          v-for="coupon in coupons.slice(0,8)"
          v-bind:key="coupon.id"
          v-bind:coupon="coupon"
        >
          <div href="#" class="card card-product-grid">
            <a :href="`/coupon/${coupon.id}`" class="img-wrap">
              <img :src="coupon.product.photo" />
            </a>
            <figcaption class="info-wrap">
              <a :href="`/coupon/${coupon.id}`" class="title">{{coupon.product.name | shortenName}}</a>
              <span class="topbar">
                <span class="badge badge-warning">{{timeLeft(coupon.available_till)}}</span>
              </span>
              <div class="price mt-1">
                ${{coupon.coupon_product_price}}
                <s>${{coupon.product.price}}</s>
                <small class="label-rating text-success">
                  <i class="fa fa-clipboard-check"></i>
                  {{coupon.reserved_items}} / {{coupon.amount_of_items}} orders
                </small>
              </div>
            </figcaption>
          </div>
        </div>
        <!-- </div> -->
      </div>
      <!-- row.// -->
    </div>
    <!-- container // -->
  </section>
  <!-- ========================= SECTION  END// ========================= -->
</template>


<script>
export default {
  name: "SectionMain",
  props: ["coupons"],
  filters: {
    shortenName(name) {
      return name.slice(0, 17);
    }
  },
  methods: {
    timeLeft(endTime) {
      var days,
        hours,
        minutes,
        seconds,
        total_hours,
        total_minutes,
        total_seconds;
      var now = new Date();
      var end = new Date(endTime);
      var delta = Math.abs(end - now);
      total_seconds = parseInt(Math.floor(delta / 1000));
      total_minutes = parseInt(Math.floor(total_seconds / 60));
      total_hours = parseInt(Math.floor(total_minutes / 60));
      days = parseInt(Math.floor(total_hours / 24));
      seconds = parseInt(total_seconds % 60);
      minutes = parseInt(total_minutes % 60);
      hours = parseInt(total_hours % 24);
      if (days > 1) {
        return days + " days " + hours + " hours left";
      }
      if (days === 0) {
        return hours + " hours left";
      }
      return days + " day " + hours + " hours left";
    }
  }
};
</script>


<style scoped>
a {
  text-decoration: none !important;
}
a:hover {
  color: black !important;
}
</style>