
<template>
  <div class="col-lg-9">
    <CarouselAllCoupons />
    <div class="row">
      <b-card-group>
      <SmallCouponInfo v-for="coupon in coupons" v-bind:key="coupon" v-bind:product="coupon"/>
      </b-card-group>
    </div>
  </div>
</template>


<script>
import SmallCouponInfo from "./SmallCouponInfo";
import CarouselAllCoupons from "./CarouselAllCoupons";
export default {
  name: "AllCoupons",
  components: {
    SmallCouponInfo,
    CarouselAllCoupons
  },
  props: ["coupons"]
};
</script>

