<template>
  <div class="col-lg-9">
    <div class="row">
      <CarouselAllProducts v-if="products" v-bind:products="randomProducts" />
      <div class="mx-auto">
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
        ></b-pagination>
      </div>
      <b-card-group>
        <SmallProductInfo
          v-for="product in paginatedData"
          v-bind:key="product.id"
          v-bind:product="product"
        />
      </b-card-group>

      <div class="mx-auto">
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
        ></b-pagination>
      </div>
    </div>
  </div>
</template>
  

<script>
import SmallProductInfo from "./SmallProductInfo";
import CarouselAllProducts from "./CarouselAllProducts";
export default {
  name: "AllProducts",
  components: {
    SmallProductInfo,
    CarouselAllProducts
  },
  props: ["products"],
  data() {
    return {
      perPage: 9,
      currentPage: 1
    };
  },

  computed: {
    keys() {
      // console.log(Object.keys(this.randomProducts[0]))
      return Object.keys(this.randomProducts[0]);
      //  return 'smth'
    },

    randomProducts() {
      // Shuffle array
      const arr = [...this.products];
      const shuffled = arr.sort(() => 0.5 - Math.random());

      // Get sub-array of first n elements after shuffled
      let selected = shuffled.slice(0, 5);
      return selected;
    },

    paginatedData() {
      const start = this.currentPage * this.perPage,
        end = start + this.perPage;
      return this.products.slice(start, end);
    },
    rows() {
      return this.products.length;
    }
  }
};
</script>

