<template>
  <div class="carouselclass">
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      fade
      indicators
      img-width="1024"
      img-height="480"
      background="#ababab"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <b-carousel-slide
        v-for="product in products"
        v-bind:key="product.id"
        :caption="product.name"
        :text="product.description | shortenDescription"
      >
        <template v-slot:img>
          <img class="resize-carousel d-block img-fluid" :src="product.photo" alt="image slot" />
        </template>
        <b-link :to="`/detail/${product.id}`">
          <h5>Buy Now</h5>
        </b-link>
      </b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
  name: "CarouselAllProducts",
  props: ["products"],
  data() {
    return {
      slide: 0,
      sliding: null
    };
  },
  methods: {
    onSlideStart(slide) {
      console.log(slide);
      this.sliding = true;
    },
    onSlideEnd(slide) {
      console.log(slide);
      this.sliding = false;
    }
  },
  filters: {
    shortenDescription(description) {
      return description.slice(0, 60);
    },
    shortenName(name) {
      return name.slice(0, 17);
    }
  }
};
</script>

<style scoped>
.carouselclass {
  margin-bottom: 15px;
}
.resize-carousel {
  height: 480px;
  width: 1024px;
}
h5 {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 5px black;
}
</style>