<template>
  <div class="carouselclass">
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <b-carousel-slide
        v-for="coupon in couponsCarousel"
        v-bind:key="coupon.id"
        :caption="coupon.product.name"
        :text="coupon.product.description | shortenDescription"
      >
        <template v-slot:img>
          <img
            class="resize-carousel d-block img-fluid"
            :src="coupon.product.photo"
            alt="image slot"
          />
        </template>
        <b-link :to="`/coupon/${coupon.id}`">
          <h5>Buy Now</h5>
        </b-link>
      </b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
  name: "CarouselAllCoupons",
  props: ["coupons"],
  data() {
    return {
      slide: 0,
      sliding: null,
      couponsCarousel: []
    };
  },
  created() {
    const arr = [...this.coupons];
    const shuffled = arr.sort(() => 0.5 - Math.random());

    // Get sub-array of first n elements after shuffled
    let selected = shuffled.slice(0, 5);
    this.couponsCarousel = selected;
  },
  methods: {
    randomCoupon() {
      // Shuffle array
      const arr = [...this.coupons];
      const shuffled = arr.sort(() => 0.5 - Math.random());

      // Get sub-array of first n elements after shuffled
      let selected = shuffled.slice(0, 5);
      return selected;
    },

    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    }
  },
  filters: {
    shortenDescription(description) {
      return description.slice(0, 60);
    },
    shortenName(name) {
      return name.slice(0, 17);
    }
  }
};
</script>

<style scoped>
.carouselclass {
  margin-bottom: 15px;
}
.resize-carousel {
  height: 380px;
  width: 1024px;
}
h5 {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 5px black;
}
</style>