<template>
  <b-container v-if="product">
    <b-row class="card mt-4">
      <b-img fluid center thumbnail :src="product.photo" alt></b-img>

      <div class="card-body">
        <h3 class="card-title">{{product.name}}</h3>
        <h4>{{product.price}}.00 $</h4>
        <span class="text-warning" v-html="rating(product.rating)"></span>
        <p class="card-text">{{product.description}}</p>
      </div>
    </b-row>

    <div class="card card-outline-secondary my-4">
      <div class="card-header">Product Reviews</div>
      <div class="card-body">
        <b-media v-for="review in product.reviews" v-bind:key="review.id">
          <template v-slot:aside>
            <b-img fluid center thumbnail width="90" :src="review.profile.picture" alt></b-img>
          </template>
          <p>{{review.description}}</p>
          <span class="text-warning" v-html="rating(review.rating)"></span>
          <small
            class="text-muted"
          >
          Posted by {{review.profile.first_name | capitalize}} {{review.profile.last_name | capitalize}} on {{review.date_posted | formatDate}}</small>
          <hr />
        </b-media>
        <a href="#" class="btn btn-success">Leave a Review</a>
      </div>
    </div>
  </b-container>
</template>


<script>
import moment from "moment";
export default {
  name: "DetailProduct",
  props: ["product"],

  methods: {
    rating(current_rating) {
      var rating = current_rating;
      var rating_string = "";
      var i;
      for (i = 0; i < 5; i++) {
        if (i < rating) {
          rating_string += "&#9733; ";
        } else {
          rating_string += "&#9734; ";
        }
      }
      return rating_string;
    }
  },
  filters: {
    formatDate(value) {
      return moment(String(value)).format("MM/DD/YYYY hh:mm");
    },
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  }
};
</script>