<template>
  <div class="col-lg-3">
    <h1 class="my-4">Categories</h1>
    <div
      class="list-group"
      v-for="category in categories"
      v-bind:key="category.id"
      v-bind:category="category"
    >
      <b-link :to="`/category/${category.id}`">
      <a href="#" class="list-group-item">{{category.name}}</a>
      </b-link>
    </div>
  </div>
</template>


<script>
export default {
  name: "SideBar",
  props: ["categories"]
};
</script>



<style scoped>
a {
  text-decoration: none;
  color: Black;
}
</style>