<template>
  <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
    <!-- <router-link :to="`/detail/${product.id}`"> -->
    <b-card
      no-body
      :title="product.name | shortenName"
      :img-src="product.photo"
      img-alt="Image"
      img-top
      tag="article"
      style="max-width: 20rem;"
      class="mb-2"
      img-height="200px"
      img-width="auto"
      :to="`/detail/${product.id}`"
    >
      <b-card-body>
        <b-link :to="`/detail/${product.id}`">
          <h5>{{ product.name }}</h5> 
        </b-link>
        <b-card-sub-title class="mb-2">{{product.price}} $</b-card-sub-title>
        <p class="card-text">{{product.description | shortenDescription}}</p>
      
      </b-card-body>
    </b-card>
  </div>
</template>


<script>
export default {
  name: "SmallProductInfo",
  props: ["product"],
  filters: {
    shortenDescription(description) {
      return description.slice(0, 60);
    },
    shortenName(name) {
      return name.slice(0, 17);
    }
  }
};
</script>

<style scoped>
h5 {
  text-decoration: none;
  color: Black;
}
</style>