<template>
  <div class="card card-outline-secondary my-4">
    <div class="card-header">Product Top Reviews</div>
    <div class="card-body">
      <b-media v-for="review in paginatedData" v-bind:key="review.id">
        <template v-slot:aside>
          <b-img fluid center thumbnail width="90" :src="review.profile.picture" alt></b-img>
        </template>

        <span v-if="review.profile.id===AllUserDataInfo.id" class="badge badge-danger float-right">
          <button v-on:click="DeleteReview(review.id)">Delete</button>
        </span>
        <p>{{review.description}}</p>
        <span class="text-warning" v-html="rating(review.rating)"></span>
        <small
          class="text-muted"
        >Posted by {{review.profile.first_name | capitalize}} {{review.profile.last_name | capitalize}} on {{review.date_posted | formatDate}}</small>
        <hr />
      </b-media>
      <div class="text-center">
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
          align="center"
        ></b-pagination>
      </div>
      <hr />
      <div class="row">
        <div class="col-2">
          <b-img fluid center thumbnail width="90" :src="this.AllUserDataInfo.image_url" alt></b-img>
        </div>
        <div class="col-7">
          <b-form-textarea
            id="textarea"
            v-model="text"
            placeholder="Leave a Review..."
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </div>
        <div class="col-3">
          <h4 class="text-center">Rating: {{value}}</h4>
          <b-form-rating variant="warning" v-model="value"></b-form-rating>
        </div>
      </div>
      <button v-on:click="SubmitReview" class="btn btn-success submit">Submit</button>
      <div v-if="error">{{review_msg}}</div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "CouponReviews",
  props: ["coupon"],
  data() {
    return {
      value: null,
      text: "",
      review_msg: "",
      error: false,
      perPage: 5,
      currentPage: 1
    };
  },
  methods: {
    DeleteReview(review_id) {
      this.$store
        .dispatch("coupon/deleteReview", {
          review_id: review_id
        })
        .then(
          () => {
            this.$router.go(this.$router.currentRoute);
          },
          error => {
            this.error = true;
            this.review_msg =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
          }
        );
    },
    SubmitReview() {
      if (this.text.length > 0 && this.value > 0) {
        this.$store
          .dispatch("coupon/review", {
            profile: this.AllUserDataInfo.id,
            description: this.text,
            rating: this.value,
            product: this.coupon.product.id
          })
          .then(
            () => {
              this.$router.go(this.$router.currentRoute);
            },
            error => {
              this.error = true;
              this.review_msg =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
      } else {
        this.review_msg = "Wrong input.";
        this.error = true;
      }
    },

    rating(current_rating) {
      var rating = current_rating;
      var rating_string = "";
      var i;
      for (i = 0; i < 5; i++) {
        if (i < rating) {
          rating_string += "&#9733; ";
        } else {
          rating_string += "&#9734; ";
        }
      }
      return rating_string;
    }
  },
  filters: {
    formatDate(value) {
      return moment(String(value)).format("MM/DD/YYYY hh:mm");
    },
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  },
  computed: {
    ...mapGetters(["AllUserDataInfo"]),
    paginatedData() {
      const start = (this.currentPage - 1) * this.perPage,
        end = start + this.perPage;

      return this.coupon.product.reviews.slice(start, end);
    },
    rows() {
      return this.coupon.product.reviews.length;
    }
  }
};
</script>

<style scoped>
.submit {
  margin-top: 10px;
}
</style>