<template>
  <!-- ============================ COMPONENT 1 ================================= -->
  <div class="card">
    <div class="row no-gutters">
      <aside class="col-md-6">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <a href="#">
              <img :src="coupon.product.photo" />
            </a>
          </div>
        </article>
      </aside>
      <main class="col-md-6 border-left">
        <article class="content-body">
          <h2 class="title">{{coupon.product.name}}</h2>

          <div class="rating-wrap my-3">
            <span class="text-warning" v-html="rating(coupon.product.rating)"></span>
            <small class="label-rating text-muted">{{coupon.product.reviews.length}} reviews</small>
            <small class="label-rating text-success">
              <i class="fa fa-clipboard-check"></i>
              {{coupon.reserved_items}} / {{coupon.amount_of_items}} orders
            </small>
          </div>
          <!-- rating-wrap.// -->

          <div class="mb-3">
            <var class="price h4">${{coupon.coupon_product_price}}</var>
              <del class="h5 price-old">${{coupon.product.price}}.00</del>
            
          </div>

          <p>{{coupon.product.description | shortenDescription}}</p>

          <dl class="row">
            <dt class="col-sm-3">Model#</dt>
            <dd class="col-sm-9">Odsy-1000</dd>

            <dt class="col-sm-3">Color</dt>
            <dd class="col-sm-9">Brown</dd>

            <dt class="col-sm-3">Delivery</dt>
            <dd class="col-sm-9">Russia, USA, and Europe</dd>
          </dl>

          <span class="topbar">
            <span class="badge badge-warning">{{timeLeft(coupon.available_till)}}</span>
          </span>
          <hr />
          <div v-if="coupon.status == 'OPEN'" class="form-row">
            <div v-if="!checkIfJoined()" class="col-2">
              <select v-model="selectedItemsAmount" class="form-control">
                <option v-for="i in maxItems" v-bind:key="i">{{i}}</option>
              </select>
            </div>

            <!-- col.// -->

            <div v-if="!checkIfJoined()">
              <!-- <b-button v-b-modal.modal-join->Join Coupon</b-button> -->
              <b-button id="show-btn" variant="primary" @click="$bvModal.show('modal-join')">
                <i class="fas fa-shopping-cart"></i> Join Coupon
              </b-button>
              <b-modal id="modal-join" hide-footer title="Join Coupon Summary">
                <p class="my-4 text-center">
                  You are going to join
                  <b>{{coupon.name}}</b>
                </p>
                <table class="table table-borderless table-shopping-cart text-center">
                  <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col" width="120">Product</th>
                      <th scope="col" width="120">Quantity</th>
                      <th scope="col" width="120">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <figure class>
                          <div class="text-center">
                            <img :src="coupon.product.photo" class="img-sm" />
                          </div>
                        </figure>
                      </td>
                      <td>
                        <h3>{{selectedItemsAmount}}</h3>
                      </td>
                      <td>
                        <div class="price-wrap">
                          <var class="price">
                            <h4>${{calculatePrice()}}</h4>
                          </var>
                          <small
                            v-if="selectedItemsAmount > 1"
                            class="text-muted"
                          >${{coupon.coupon_product_price}} each</small>
                        </div>
                        <!-- price-wrap .// -->
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
                <div class="row">
                  <div class="col">
                    <b-button
                      class="mt-3"
                      variant="outline-danger"
                      block
                      @click="$bvModal.hide('modal-join')"
                    >Cancel</b-button>
                  </div>
                  <div class="col">
                    <b-button
                      class="mt-3"
                      variant="outline-success"
                      block
                      v-on:click="joinCoupon()"
                    >Accept</b-button>
                  </div>
                </div>
              </b-modal>
            </div>
            <!-- col.// -->
            <div v-else>
              <div class="mb-3">
                <var class="h4">Already Joined with {{getJoinedInfo().number_of_items}} items.</var>
              </div>
            </div>

            <div class="col">
              <a
                v-on:click="watchCouponHere"
                href="#"
                :class="[checkCurrentCoupon() ? 'btn btn-success': 'btn btn-danger']"
              >
                <i v-if="checkCurrentCoupon()" class="fas fa-eye"></i>
                <i v-else class="fas fa-eye-slash"></i>
              </a>
            </div>
            <!-- col.// -->
          </div>
          <div v-else>
            <h4>Offer Finished</h4>
          </div>
          <!-- row.// -->
        </article>
        <!-- product-info-aside .// -->
      </main>
      <!-- col.// -->
    </div>

    <!-- row.// -->
  </div>
  <!-- card.// -->
  <!-- ============================ COMPONENT 1 END .// ================================= -->
</template>

<script>
import moment from "moment";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "CouponDetail",
  props: ["coupon"],
  data() {
    return {
      selectedItemsAmount: 1,
      maxItems: 5,
      message: "",
      watching: false,
      joined: false
    };
  },
  created() {
    this.fetchUserData();
    this.maxItems =
      this.coupon.items_remain <= 5 ? this.coupon.items_remain : this.maxItems;
  },
  computed: {
    ...mapGetters(["AllUserDataInfo"])
  },

  methods: {
    ...mapActions([
      "watchCoupon",
      "fetchUserData",
      "checkCurrentWatchCouponVueX"
    ]),
    calculatePrice() {
      return (this.coupon.coupon_product_price * this.selectedItemsAmount).toFixed(2);
    },
    checkIfJoined() {
      if (this.AllUserDataInfo.transactions) {
        var ind = this.AllUserDataInfo.transactions.findIndex(
          obj => obj.coupon.id == this.coupon.id
        );
        if (ind < 0) {
          return false;
        }
        return true;
      }
      return false;
    },
    checkCurrentCoupon() {
      if (this.AllUserDataInfo.watches) {
        var ind = this.AllUserDataInfo.watches.findIndex(
          obj => obj.coupon.id == this.coupon.id
        );
        if (ind < 0) {
          return true;
        }
        if (!this.AllUserDataInfo.watches[ind].watching) {
          return true;
        }
        return false;
      }
      return true;
    },
    watchCouponHere() {
      this.watchCoupon(this.coupon.id);
    },

    joinCoupon() {
      this.$store
        .dispatch("coupon/join", {
          coupon_id: this.coupon.id,
          amount: this.selectedItemsAmount
        })
        .then(
          () => {
            this.$router.push("/profile/active");
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
          }
        );
    },

    getJoinedInfo() {
      var ind = this.AllUserDataInfo.transactions.findIndex(
        obj => obj.coupon.id == this.coupon.id
      );
      return this.AllUserDataInfo.transactions[ind];
    },

    rating(current_rating) {
      var rating = current_rating;
      var rating_string = "";
      var i;
      for (i = 0; i < 5; i++) {
        if (i < rating) {
          rating_string += "&#9733; ";
        } else {
          rating_string += "&#9734; ";
        }
      }
      return rating_string;
    },
    timeLeft(endTime) {
      var days,
        hours,
        minutes,
        seconds,
        total_hours,
        total_minutes,
        total_seconds;
      var now = new Date();
      var end = new Date(endTime);
      var delta = Math.abs(end - now);
      total_seconds = parseInt(Math.floor(delta / 1000));
      total_minutes = parseInt(Math.floor(total_seconds / 60));
      total_hours = parseInt(Math.floor(total_minutes / 60));
      days = parseInt(Math.floor(total_hours / 24));
      seconds = parseInt(total_seconds % 60);
      minutes = parseInt(total_minutes % 60);
      hours = parseInt(total_hours % 24);
      if (days > 1) {
        return days + " days " + hours + " hours left";
      }
      if (days === 0) {
        return hours + " hours left";
      }
      return days + " day " + hours + " hours left";
    }
  },
  filters: {
    shortenDescription(description) {
      return description.slice(0, 300);
    },
    formatDate(value) {
      return moment(String(value)).format("MM/DD/YYYY hh:mm");
    },
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  }
};
</script>