<template>
  <article class="card card-product-list">
    <div class="row no-gutters">
      <aside class="col-md-3">
        <a :href="`/coupon/${coupon.id}`" class="img-wrap">
          <span
            v-bind:class="getTimeClass(coupon.available_till)"
            class="badge"
          >{{timeLeft(coupon.available_till)}}</span>
          <img :src="coupon.product.photo" />
        </a>
      </aside>
      <!-- col.// -->
      <div class="col-md-6">
        <div class="info-main">
          <a :href="`/coupon/${coupon.id}`" class="h5 title">{{coupon.product.name}}</a>
          <div class="rating-wrap mb-3">
            <span class="text-warning" v-html="rating(coupon.product.rating)"></span>
            <small class="label-rating text-muted">{{coupon.product.reviews.length}} reviews</small>
            <small class="label-rating text-success">
              <i class="fa fa-clipboard-check"></i>
              {{coupon.reserved_items}} / {{coupon.amount_of_items}} orders
            </small>
          </div>
          <!-- rating-wrap.// -->

          <p>{{coupon.product.description | shortenDescription}}</p>
        </div>
        <!-- info-main.// -->
      </div>
      <!-- col.// -->
      <aside class="col-sm-3">
        <div class="info-aside">
          <div class="text-center">
            <span class="price h5">${{coupon.coupon_product_price}}</span>
            <del class="price-old">${{coupon.product.price}}.00</del>
          </div>
          <!-- info-price-detail // -->
          <br />
          <div class="text-center">
            <div class="btn-group " role="group" aria-label="Basic example">
            <a :href="`/coupon/${coupon.id}`" class="btn btn-primary">Details</a>

            <a
              v-on:click="watchCouponHere"
              href="#"
              :class="[checkCurrentCoupon() ? 'btn btn-success': 'btn btn-danger']"
            >
              <i v-if="checkCurrentCoupon()" class="fas fa-eye"></i>
              <i v-else class="fas fa-eye-slash"></i>
            </a>
            </div>
          </div>
        </div>
        <!-- info-aside.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </article>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "CouponMini",
  props: ["coupon"],
  created() {
    this.fetchUserData();
  },
  
  filters: {
    shortenDescription(description) {
      return description.slice(0, 100);
    },
    shortenName(name) {
      return name.slice(0, 17);
    },
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  },
  computed: {
    ...mapGetters(["AllUserDataInfo"])
  },
  methods: {
    ...mapActions([
      "watchCoupon",
      "fetchUserData",
      "checkCurrentWatchCouponVueX"
    ]),
    checkCurrentCoupon() {
      if (this.AllUserDataInfo.watches) {
        var ind = this.AllUserDataInfo.watches.findIndex(
          obj => obj.coupon.id == this.coupon.id
        );
        if (ind < 0) {
          return true;
        }
        if (!this.AllUserDataInfo.watches[ind].watching) {
          return true;
        }
        return false;
      }
      return true;
    },
    watchCouponHere() {
      this.watchCoupon(this.coupon.id)
    },
    getTimeClass(endTime) {
      var days,
        hours,
        minutes,
        seconds,
        total_hours,
        total_minutes,
        total_seconds;
      var now = new Date();
      var end = new Date(endTime);
      var delta = Math.abs(end - now);
      total_seconds = parseInt(Math.floor(delta / 1000));
      total_minutes = parseInt(Math.floor(total_seconds / 60));
      total_hours = parseInt(Math.floor(total_minutes / 60));
      days = parseInt(Math.floor(total_hours / 24));
      seconds = parseInt(total_seconds % 60);
      minutes = parseInt(total_minutes % 60);
      hours = parseInt(total_hours % 24);
      if (days > 1) {
        return "badge-success";
      }
      if (days === 0) {
        if (hours < 12) {
          return "badge-danger";
        }
        return "badge-warning";
      }
      return "badge-success";
    },
    rating(current_rating) {
      var rating = current_rating;
      var rating_string = "";
      var i;
      for (i = 0; i < 5; i++) {
        if (i < rating) {
          rating_string += "&#9733; ";
        } else {
          rating_string += "&#9734; ";
        }
      }
      return rating_string;
    },
    timeLeft(endTime) {
      var days,
        hours,
        minutes,
        seconds,
        total_hours,
        total_minutes,
        total_seconds;
      var now = new Date();
      var end = new Date(endTime);
      var delta = Math.abs(end - now);
      total_seconds = parseInt(Math.floor(delta / 1000));
      total_minutes = parseInt(Math.floor(total_seconds / 60));
      total_hours = parseInt(Math.floor(total_minutes / 60));
      days = parseInt(Math.floor(total_hours / 24));
      seconds = parseInt(total_seconds % 60);
      minutes = parseInt(total_minutes % 60);
      hours = parseInt(total_hours % 24);
      if (days > 1) {
        return days + " days " + hours + " hours left";
      }
      if (days === 0) {
        return hours + " hours left";
      }
      return days + " day " + hours + " hours left";
    }
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
  color: Black;
}
a:hover {
  color: grey !important;
}
</style>