<template>
  <div>
    <header class="border-bottom mb-4 pb-3">
      <div class="form-inline">
        <span v-if="search" class="mr-md-auto">
          Results for
          <b>{{search}}</b>
          : {{coupons.length}} Items found
        </span>
        <span v-else class="mr-md-auto">{{coupons.length}} Items found</span>
        <div></div>
        <b-form-select v-on:change="sortCoupons(selected)" v-model="selected" :options="options"></b-form-select>
      </div>
    </header>

    <!-- sect-heading -->

    <CouponMini v-for="coupon in paginatedData" v-bind:key="coupon.id" v-bind:coupon="coupon" />

    <div class="mx-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </div>
  </div>
  <!-- col.// -->
</template>

<script>
import CouponMini from "./CouponMini";
export default {
  name: "FilteredCoupons",
  props: ["coupons", "search"],
  components: {
    CouponMini
  },

  data() {
    return {
      // onlyWatching: "not_accepted",
      checked: false,
      selected: null,
      options: [
        { value: null, text: "Sort By Price" },
        { value: "asc", text: "Low To High" },
        { value: "desc", text: "High to Low" },
        { value: "random", text: "Random order" }
      ],
      perPage: 4,
      currentPage: 1
    };
  },

  methods: {
    sortCoupons(selected) {
      if (selected === "asc") {
        this.coupons.sort(
          (a, b) => parseFloat(a.product.price) - parseFloat(b.product.price)
        );
      } else if (selected === "desc") {
        this.coupons.sort(
          (a, b) => parseFloat(b.product.price) - parseFloat(a.product.price)
        );
      } else if (selected === "random") {
        this.coupons.sort(() => 0.5 - Math.random());
      }
    }
  },

  computed: {
    paginatedData() {
      const start = (this.currentPage - 1) * this.perPage,
        end = start + this.perPage;

      return this.coupons.slice(start, end);
    },
    rows() {
      return this.coupons.length;
    }
  }
};
</script>

<style>
</style>