<template>
  <aside class="col-md-3">
    <div class="card">



      <article class="filter-group">
        <header class="card-header">
          <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class>
            <i class="icon-control fa fa-chevron-down"></i>
            <h6 class="title">Category</h6>
          </a>
        </header>
        <div class="filter-content collapse show" id="collapse_1">
          <div class="card-body">
            
            <ul class="list-menu">
              <li v-bind:class="getClass('all')">
                <a :href="`/coupons/all`">All</a>
              </li>
              <li
                v-for="category in categories"
                v-bind:key="category.id"
                v-bind:category="category"
                v-bind:class="getClass(category.name)"
              >
                <a :href="`/coupons/${fixCategoryUrl(category.name)}`">{{category.name}}</a>
              </li>
            </ul>
          </div>
          <!-- card-body.// -->
        </div>
      </article>

      <article class="filter-group">
        <header class="card-header">
          <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class>
            <i class="icon-control fa fa-chevron-down"></i>
            <h6 class="title">Price range</h6>
          </a>
        </header>
        <div class="filter-content collapse show" id="collapse_3" style>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Min</label>
                <input class="form-control" placeholder="$0" type="number" v-model="minPrice" />
              </div>
              <div class="form-group text-right col-md-6">
                <label>Max</label>
                <input class="form-control" placeholder="$500" type="number" v-model="maxPrice" />
              </div>
            </div>
            <!-- form-row.// -->
            <button v-on:click="priceApply" class="btn btn-block btn-primary">Apply</button>
          </div>
          <!-- card-body.// -->
        </div>
      </article>
      <!-- filter-group .// -->

      <article class="filter-group">
        <header class="card-header">
          <a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" class>
            <i class="icon-control fa fa-chevron-down"></i>
            <h6 class="title">More filter - TODO</h6>
          </a>
        </header>
        <div class="filter-content collapse show" id="collapse_5" style>
          <div class="card-body">
            <label class="custom-control custom-radio">
              <input type="radio" name="myfilter_radio" checked class="custom-control-input" />
              <div class="custom-control-label">Most Popular</div>
            </label>

            <label class="custom-control custom-radio">
              <input type="radio" name="myfilter_radio" class="custom-control-input" />
              <div class="custom-control-label">Trending</div>
            </label>

            <label class="custom-control custom-radio">
              <input type="radio" name="myfilter_radio" class="custom-control-input" />
              <div class="custom-control-label">Almost expired</div>
            </label>

            <label class="custom-control custom-radio">
              <input type="radio" name="myfilter_radio" class="custom-control-input" />
              <div class="custom-control-label">New coupons</div>
            </label>
          </div>
          <!-- card-body.// -->
        </div>
      </article>
      <!-- filter-group .// -->
    </div>
    <!-- card.// -->
  </aside>
  <!-- col.// -->
</template>

<script>
export default {
  name: "LeftFilters",
  props: ["categories"],
  data() {
    return {
      minPrice: "",
      maxPrice: ""
    };
  },
  methods: {
    fixCategoryUrl(name) {
     return name.replace(' ','+')
    },
    getClass(name) {
      if (this.$route.params.category.toLowerCase() === name.toLowerCase()) {
        return "active";
      }
      return "";
    },
    priceApply() {
      var priceFilters = {
        min: this.minPrice,
        max: this.maxPrice
      };

      this.$emit("priceFilters", priceFilters);
    }
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
  color: Black;
}
a:hover {
  color: grey;
}
.active {
  font-weight: bold;
}
</style>>
