<template>
  <div id="app">
    <Header />
    <router-view />
    <Footer />
  </div>
</template>

<script>
import('@/assets/js/script.js')
import('@/assets/js/jquery-2.0.0.min.js')
import('@/assets/js/bootstrap.bundle.min.js')
import Header from "./components/layout/Header";
import Footer from "./components/layout/Footer";
export default {
  name: "app",
  components: {
    Header,
    Footer
  }
};
</script>

<style>
@import './assets/css/bootstrap.css';
@import './assets/fonts/fontawesome/css/all.min.css';
@import './assets/css/ui.css';
@import './assets/css/responsive.css';
</style>